{% extends 'base.html' %}

{% block content%}
<script type="text/javascript">
    $(function() {
        var modal = document.getElementById('myModal');
        var span = document.getElementsByClassName("close")[0];
        
        span.onclick = function() {
            modal.style.display = "none";
        }
    
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        
        function action(){
            $.getJSON($SCRIPT_ROOT + '/add_message', {
                message: $('input[name=msg-input]').val(),
            }, function(data) {
                console.log(data);
                $("input[name=msg-input").val('');
                var result = '';
                
                if(data.success == 1)
                {
                    result = "성공";
                    $("#result").css('color', 'green');
                }
                else
                {
                    result = "실패"
                    $("#result").css('color', 'red');
                }
                
                $("#result").text(result);
                $("#notification").text(data.reason);
                modal.style.display = "block";
                // auto scroll 추가
            });
        }
        
        $('div.create-button').bind('click', function() {
            action();
            return false;
        });
        
        $('input[name=msg-input]').keyup(function(e) {
            if (e.keyCode == 13)
                if(modal.style.display == "block")
                    modal.style.display = "none";
                else
                    action();        
        });
    });
</script>
<main>
    <div class="help-tip">
        <p>
            욕설을 문장으로 작성해주세요.<br>
            필터링 되지 않는 욕설을 작성하여,<br>
            진정한 키보드 워리어가 되세요!<br>
            예시) ㅈ1랄 하지 마세요.
        </p>
    </div>
    <div class="input-template">
        <div class="title">
            <img src="{{ url_for('static', filename='img/logo.png') }}" style="display:block;margin:auto;"/>
        </div>
        <div class="form-wrapper">
            <div class="form">
                <input type="text" name="msg-input">
                <div class="create-button"> 확인 </div>
            </div>
        </div>
    </div>
    <div class="fire"></div>
    <!-- The Modal -->
    <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p id="result"></p>
        <p id="notification"></p>
      </div>
</div>
</main>
{% endblock %}