{% extends 'base.html' %}

{% block content%}
<!-- 타이틀 추가  -->
<!-- 리스트를 오른쪽에 위치  -->
<!-- 폼을 중아에 위치  -->
<script type="text/javascript">
    $(function() {
        $('div.create-button').bind('click', function() {
            $.getJSON($SCRIPT_ROOT + '/add_message', {
                message: $('input[name=msg-input]').val(),
            }, function(data) {
                $("#result").append("<a>" + data +"</a>");
            });
            return false;
        });
    });
</script>
<header></header>
<main class="todo-list-template content">
    <div class="title">
        쓰레기 통
    </div>
    <section class="palette-wrapper">
        { palette }
    </section>
    <section class="form-wrapper">
        { form }
        <div class="form">
            <input name="msg-input">
            <div class="create-button">
                추가
            </div>
        </div>
    </section>
    <section class="todos-wrapper" style="height:100px">
        {% for post in posts %}
        <div class="todo-item" >
            <div class="remove">&times;</div>
                <div>
                    <div>{{post}}</div>
                </div>
                checked && (<div class="check-mark">✓</div>)
            </div>
        {% endfor %}
    </section>
</main>
<div class="sidebar">
    <section id="result">
        <div>
            
        </div>
    </section>
</div>
<div class="clear"></div>
{% endblock %}